.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
}

.fade-in-pages {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  display:flex; 
  flex-direction:column; 
}

input[type=text] {
  font-size: 1.5em;
  background-color: transparent;
  border: 3px solid #808080;
  border-radius: 7px;
  caret-color: #616161;
}

input[type=text]:focus {
  border: 3px solid #e7a581;
  outline: none;
  -webkit-transition: border 0.3s ease;
  -ms-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  gap: 10px;
  padding: 0.5rem 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.25em;
  color: #808080;
  background-color: transparent;
  border: 3px solid #808080;
  border-radius: 7px;
}

.startgamebtn {
  gap: 5px;
}

.btn:hover, .startgamebtn:hover {
  color: #000;
  background-color: #f2f0f1;
  border: 3px solid #e78190;
  -webkit-transition: background-color 0.3s ease, border 0.3s ease;
  -ms-transition: background-color 0.3s  ease, border 0.3s ease;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.startgamebtn:hover {
  color: #000;
  background-color: #f4fdf7;
  border: 3px solid #60cd87;
}

.gametitle {
  font-size: 6em;
  margin: 0px 0px 15px 0px;
  color: #2E2C74;
}

.playgametitle {
  font-size: 3em;
  margin: 0px 0px 50px 0px;
  color: #9CCCCD;
}

.mainmenu, .gamescreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.gamescreen {
  gap: 100px;
}

.playermenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  height: 100%;
}

.playernameinput {
  display: flex;
  gap: 50px;
}

.playermenubtnbox {
  display: flex;
  gap: 3rem;
}

.playerturntext {
  font-size: 3em;
}

.winnercontainer  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 250px;
  width: 600px;
  background-color: #fff;;
  border: 3px solid #808080;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.68); 
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.68);
}

.endscreenbtnbox {
  display: flex;
  gap: 30px;
}

.winningtext {
  font-size: 4em;
}

.material-icons-outlined.gamesymbol1 {
  font-size: 120px;
  color: #81bcdd;
  transition: ease 0.3s;
}

.material-icons-outlined.gamesymbol2 {
  font-size: 90px;
  font-weight: 700;
  color: #dd818e;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 3px;
  background-color: #808080;
}

.hidden {
  display: none;
}

.footer {
  font-size: 1.25em;
  margin-top:auto; 
  padding-bottom: 10px;
  align-self: center;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}
